@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Itim&family=Quattrocento+Sans&family=Tilt+Neon&display=swap');

/* font-family: 'Itim', cursive;
font-family: 'Quattrocento Sans', sans-serif;
font-family: 'Tilt Neon', cursive; */


/* base styles */
* {
  margin: 0;
  font-family: 'Tilt Neon', cursive;
  color: #333;
}
.navbar {
  padding: 20px;
  display: flex;
  align-items: center;
  max-width: 600px;
  margin: 0 auto;
  border-bottom: 1px solid #f2f2f2;
}
.navbar h1 {
  color: #06c3e5;
}
.navbar .links {
  margin-left: auto;
}
.navbar a {
  margin-left: 16px;
  text-decoration: none;
  padding: 6px;
}
.navbar a:hover {
  color: #06c3e5;
}
.content {
  max-width: 600px;
  margin: 40px auto;
  padding: 20px;
}

.App-main {
  background-color: #1c51bc;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-main h1{
  color: white;
}

.study {
  height: 40vmin;
  pointer-events: none;
}

* {
  box-sizing: border-box;
  text-align: center;
}

/* create new blog form */
.create {
  max-width: 400px;
  margin: 0 auto;
  text-align: center;
}
.create label {
  text-align: left;
  display: block;
}
.create h2 {
  font-size: 20px;
  color: #06c3e5;
  margin-bottom: 30px;
}
.create input, .create textarea, .create select {
  width: 100%;
  padding: 6px 10px;
  margin: 10px 0;
  border: 1px solid #ddd;
  box-sizing: border-box;
  display: block;
}
.create button {
  background: #06c3e5;
  color: #fff;
  border: 0;
  padding: 8px;
  border-radius: 8px;
  cursor: pointer;
}